[Unit]
Description=Mailpile Docker Unit
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure
RestartSec=10
ExecStartPre=-/usr/bin/docker kill mailpile_%I
ExecStartPre=-/usr/bin/docker rm mailpile_%I
ExecStart=/usr/bin/docker run --name=mailpile_%I --rm -it --hostname=mailpile -v /home/%I/.mailpile:/.mailpile -p 8000:33411 mailpile
ExecStop=-/usr/bin/docker stop mailpile_%I

[Install]
WantedBy=multi-user.target
